// Variables
$main-font: "Roboto";
$title-font: "Lato";

$main-color: yellow;
$secondary-color: blue;
$font-color: gray;
$valid-color: green;
$error-color: red;

// Reset CSS
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: $main-color;
}

ul, 
ol{
    list-style:none;
}

/*************
***        ***
*** Navbar ***
***        ***
**************/

