*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #095256;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: #cecece;
  color: #2C3E50;
}

/*************
***        ***
*** Navbar ***
***        ***
**************/
header {
  background-color: #095256;
}

.navbar {
  height: 200px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo img {
  height: 200px;
  width: 200px;
  filter: invert(100%);
}
.navbar__search {
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar__search--field {
  height: 1.8rem;
  width: 85%;
  padding: 0.5rem;
}
.navbar__search--field:focus {
  outline: none;
  border: 5px #B3001B double;
  caret-color: #B3001B;
}
.navbar__search--logo {
  color: #cecece;
}
.navbar__user {
  width: 150px;
  margin-right: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.navbar__basket::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f291";
  font-size: 2rem;
  height: 50px;
  width: 50px;
  color: #cecece;
}
.navbar__login::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f2f6";
  font-size: 2rem;
  height: 50px;
  width: 50px;
  color: #cecece;
}

/**************
***         ***
*** article ***
***         ***
***************/
.article {
  max-width: 900px;
  margin: 4rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.article__container {
  height: 400px;
  width: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  position: relative;
  background-color: #00AFB9;
  padding: 0.5rem;
}
.article__container:has(.article__image:nth-child(4)) {
  height: 400px;
  padding-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.article__container:has(.article__image:nth-child(4)) .article__image {
  height: calc(200px - 3rem);
  width: calc(200px - 3rem);
}
.article__container:has(.article__image:nth-child(4)) .article__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.article__container:has(.article__image:nth-child(4)) .article__image:nth-of-type(2) img, .article__container:has(.article__image:nth-child(4)) .article__image:nth-of-type(3) img {
  border-radius: 50%;
}
.article__container:has(.article__image:nth-child(4)) .article__title {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.article__container:hover {
  background-color: rgb(0, 223.2432432432, 236);
}
.article__title {
  margin-bottom: 1rem;
}
.article__image {
  width: 100%;
  height: 100%;
  position: relative;
}
.article__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.article__rupture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 3rem;
  color: #cecece;
  /* From https://css.glass */
  background: rgba(44, 62, 80, 0.41);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(44, 62, 80, 0.31);
}
.article__solde {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #B3001B;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  right: -20px;
  color: #cecece;
}

/******************
***             ***
*** information ***
***             ***
*******************/
.information {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.information__price {
  width: 65%;
}
.information__table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.information__table caption {
  border: 1px solid black;
  border-bottom: none;
  font-style: italic;
  caption-side: top;
  padding: 1rem 0;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
}
.information__table th, .information__table td {
  width: 25%;
  border: 1px solid black;
  padding: 10px;
}
.information__table th[rowspan] {
  text-align: center;
}
.information__shop {
  width: 20%;
}
.information__title {
  text-wrap: wrap;
  text-align: center;
}
.information__list {
  list-style: disc;
}

/*# sourceMappingURL=style.css.map */
